/*
Layout 
*/
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#grid-conteiner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  gap: 5px;
}
#home {
  grid-column: 1/2;
  grid-row: 1/4;
}
aside {
  grid-column: 2/3;
  grid-row: 1/4;
}
#contact {
  grid-column: 1/3;
  grid-row: 5/6;
}
#about {
  grid-column: 1/3;
  grid-row: 4/5;
}
/*
Responsive Design
*/

@media (max-width: 600px) {
  #grid-conteiner {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  #home,
  aside,
  #contact,
  #about {
    grid-column: 1/2;
    grid-row: auto;
  }
}
